@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

.font-100
{
    font-weight: 100;
}

.font-200
{
    font-weight: 200;
}

.font-300
{
    font-weight: 300;
}

.font-400
{
    font-weight: 400;
}

.font-500
{
    font-weight: 500;
}

.font-600
{
    font-weight: 600;
}

.font-700
{
    font-weight: 700;
}

.font-800
{
    font-weight: 800;
}

.font-900
{
    font-weight: 900;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


@font-face {
    font-family: 'Inter', sans-serif;
}
